.add-exercise-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.add-exercise-btn,
.program-details-link {
    margin-bottom: 20px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.add-exercise-btn:hover,
.program-details-link:hover {
    background-color: black;
}

.program-details-link {
    margin-left: 20px;
}
