<div class="add-exercise">
    <form [formGroup]="form">
        <div>
            <label for="title">Exercise Title</label>
            <input type="text" name="title" placeholder="Exercise Title" formControlName="title">
        </div>

        <ng-container *ngIf="form.get('title')?.touched">
            <p class="error" *ngIf="form.get('title')?.errors?.['required']">
                Title is required!
            </p>
        </ng-container>

        <div>
            <label for="sets">Exercise Sets</label>
            <input type="number" name="sets" placeholder="Exercise Sets" formControlName="sets">
        </div>

        <ng-container *ngIf="form.get('sets')?.touched">
            <p class="error" *ngIf="form.get('sets')?.errors?.['required']">
                Sets is required!
            </p>
        </ng-container>

        <div>
            <label for="repetitions">Exercise Repetitions</label>
            <input type="text" name="repetitions" placeholder="Exercise Repetitions" formControlName="repetitions">
        </div>

        <ng-container *ngIf="form.get('repetitions')?.touched">
            <p class="error" *ngIf="form.get('repetitions')?.errors?.['required']">
                Repetitions is required!
            </p>
        </ng-container>
    </form>
    <div class="action-buttons">
        <ng-container *ngIf="form.disabled">
            <button (click)="edit()">Edit</button>
            <button (click)="delete()">Delete</button>
        </ng-container>

        <ng-container *ngIf="form.enabled">
            <button (click)="save()" [disabled]="form.invalid">Save</button>
            <button (click)="cancel()">Cancel</button>
        </ng-container>
    </div>
</div>