* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    line-height: 150%;
    color: #333;
    background-image: url(./assets/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
