<div class="login">
    <h3>Login Form</h3>
    <form class="form" #form="ngForm" (ngSubmit)="login(form)">
        <app-loader *ngIf="isLoading"/>

        <!-- username -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" name="username" ngModel #usernameInput="ngModel" required>
        </div>

        <ng-container *ngIf="usernameInput.touched">
            <p class="error" *ngIf="usernameInput.errors?.['required']">
                Username is required!
            </p>
        </ng-container>

        <!-- password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" required>
        </div>

        <ng-container *ngIf="passwordInput.touched">
            <p class="error" *ngIf="passwordInput.errors?.['required']">
                Password is required!
            </p>
        </ng-container>
        <a routerLink="/user/register">You don't have an account? Register here.</a>
        <input type="submit" value="Login" [disabled]="form.invalid">
    </form>
</div>