<div class="login">
    <h3>Login Form</h3>
    <form class="form">

        <!-- email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" placeholder="Email" name="email">
        </div>

        <!-- password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password">
        </div>

        <a routerLink="/user/register">You don't have an account? Register here.</a>
        <input type="submit" value="Login">
    </form>
</div>