.form {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1em;
    border-radius: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 0.75em 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login {
    width: 360px;
    padding: auto;
    margin: auto;
}

.login h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
}

input[type="submit"] {
    background-color: #c30000;
    color: #fff;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #000000;
}

p.error {
    color: red;
}

input.ng-valid {
    border-left: 5px solid green;
}

input.ng-invalid.ng-touched {
    border-left: 5px solid red
}