h1 {
    color: #ffffff;
    margin: auto;
    text-align: center;
}

.welcome {
    padding: 32px;
    font-size: 125%;
    height: 220px;
    color: white;   
}

.welcome p {
    margin-top: 32px;
}

h2 {
    color: #ffffff;
    margin: 20px auto; /* Adjust margin as needed */
    text-align: center;
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Make the font bold */
}
