.create-workout {
    position: relative;
    width: 360px;
    padding: auto;
    margin: auto;
}

.form {
    position: relative;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1em;
    border-radius: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

label {
    font-weight: bold;
}

select {
    padding: 0.75em 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 191px;
    width: auto; 
}

input[type="text"],
input[type="password"],
textarea {
    padding: 0.75em 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
}


input[type="submit"] {
    background-color: #c30000;
    color: #fff;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #000000;
}