<div class="create-workout">
    <h3>Create Workout Form</h3>
    <form class="form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" placeholder="Title" name="title" value="">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select name="type" id="type">
                <option value="Cardio">Cardio</option>
                <option value="Crossfit">Crossfit</option>
                <option value="Strength">Strength</option>
                <option value="Hypertrophy">Hypertrophy</option>
            </select>
        </div>
        <div class="form-group">
            <label for="imgUrl">Image</label>
            <input type="text" placeholder="Image" name="imgUrl" value="">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" placeholder="Price" name="price" value="">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea placeholder="Description" name="description"></textarea>
        </div>
        <input type="submit" value="Create">
    </form>
</div>