<div class="create-workout">
    <h3>Create Workout Form</h3>
    <form class="form" #form="ngForm" (ngSubmit)="create(form)">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" placeholder="Title" name="title" value="" ngModel #titleInput>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select name="type" id="type" ngModel #typeInput>
                <option value="Cardio">Cardio</option>
                <option value="Crossfit">Crossfit</option>
                <option value="Strength">Strength</option>
                <option value="Hypertrophy">Hypertrophy</option>
            </select>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" placeholder="Image" name="image" value="" ngModel #imageInput>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" placeholder="Price" name="price" value="" ngModel #priceInput>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea placeholder="Description" name="description" ngModel #descriptionInput></textarea>
        </div>
        <input type="submit" value="Create">
    </form>
</div>