<div class="details-container" *ngIf="program">
    <div class="details">
        <img src="{{program.image}}" alt="IMG">
        <h2>Name: {{program.title}}</h2>
        <p>Type: {{program.type}}</p>
        <p class="program-description">Description: {{program.description}}</p>
        <p>Price: {{program.price}}$</p>
        <div class="exercise-list" *ngIf="isShown">
            <ul>
                <li *ngFor="let exercise of exerciseList">
                    <p>
                        <span>{{exercise.title}} </span>
                        <span>Sets: {{exercise.sets}} </span>
                        <span> Repetitions: {{exercise.repetitions}}</span>
                    </p>
                </li>
            </ul>
        </div>
        <button class="show-exercise" (click)="toggleList()">
            {{ isShown ? 'Hide Exercises' : 'Show Exercises' }}
        </button>
        <div class="program-actions" *ngIf="isLoggedIn">
            <a [routerLink]="['/programs', program.objectId, 'edit']" *ngIf="isOwner">Edit</a>
            <a [routerLink]="[ '/exercise', 'add-exercise', 'programs', program.objectId]" *ngIf="isOwner">Add Exercises</a>
            <a (click)="delete()" *ngIf="isOwner">Delete</a>
            <ng-container *ngIf="!isOwner">
                <a *ngIf="!isSubscribed" (click)="subscribe()">Subscribe</a>
            </ng-container>
        </div>
    </div>
</div>