<div class="details-container" *ngIf="!isLoading">
    <div class="details">
        <img src="{{program.image}}" alt="IMG">
        <h2>Name: {{program.title}}</h2>
        <p>Type: {{program.type}}</p>
        <p class="program-description">Description: {{program.description}}</p>
        <p>Price: {{program.price}}$</p>
        <div class="exercise-list" *ngIf="isShown">
            <ul>
                <li>
                    <p>
                        <span>Squat</span>
                        <span>Sets: 3</span>
                        <span>Repetitions: 8-10</span>
                    </p>
                </li>
            </ul>
        </div>
        <button class="show-exercise" (click)="toggleList()" *ngIf="!isShown">Show Exercises</button>
        <button class="show-exercise" (click)="toggleList()" *ngIf="isShown">Hide Exercises</button>
        <div class="program-actions">
            <a>Edit</a>
            <a (click)="delete()">Delete</a>
            <a>Subscribe</a>
        </div>
    </div>
</div>